/*         .container { */
/*             width: 100%; */
/*             height: calc(100% - 60px); */
/*             padding: 0 60px 60px; */
/*             background: #f5f5f5; */
/*             border-right: 2px solid #dbdbdc; */
/*             overflow-y: auto */
/*         } */
	
        .box1 {
            width: 1400px;
            border: 1px solid black;
            border-radius: 15px;
            background: -webkit-linear-gradient(left top, #FCFCFC, white);
            background: -o-linear-gradient(bottom right, #FCFCFC, white);
            background: -moz-linear-gradient(bottom right, #FCFCFC, white);
            background: linear-gradient(to bottom right, #FCFCFC, white);
            box-shadow: 3px 3px 3px #ccc;
            margin: 20px auto; */
			position: relative; 
        }

        .heads {
            width: 100%;
            height: 50px;
            line-height: 50px;
            color: #14bdcc;
            background-color: #fff;
            position: sticky;
            top: 0;
            left: 0;
            z-index: 999;
        }

        header h1 {
            margin: 0px;
        }

		
/*         .testtype { */
/*             position: absolute; */
/*             left: 350px; */
/*             white-space: nowrap; */
/*             font-size: 12px; */
/*             color: rgba(0, 0, 0, .45); */
/*         } */

        .question {
        	margin-top: 20px;
            margin-left: 20px;
        }
        input[type="submit"]{
        	color: #fff;
    		background-color: #14bdcc;
    		border-color: #14bdcc;
        }
        input[type="text"]{
        	display:block;
        	width:87%;
        	margin:10px -5px;
        }

        input[type="radio"], input[type="checkbox"] {
        	margin-left: 7px;
    		margin-top: 7px;
            width: 26px;
            height: 26px;
            border-radius: 50%;
            border: 1px solid rgba(0, 0, 0, .15);
            background-color: #fcfcfc;
            line-height: 26px;
            text-align: center;
            -webkit-appearance: none;
            to disable the default appearance of radio button
            -moz-appearance: none;
        }

        input[type="radio"]:focus, input[type="checkbox"]:focus {
            no need, if you don't disable default appearance
            outline: none;
            to remove the square border on focus
        }
        input[type="radio"]:blur, input[type="checkbox"]:blur {
            no need, if you don't disable default appearance
            outline: none;
            to remove the square border on focus
        }

        INPUT[TYPE="RADIO"]:HOVER, INPUT[TYPE="RADIO"]:CHECKED, INPUT[TYPE="CHECKBOX"]:CHECKED, INPUT[TYPE="CHECKBOX"]:HOVER {
            NO NEED, IF YOU DON'T DISABLE DEFAULT APPEARANCE
            BACKGROUND-COLOR: #1FBED6;
        }

        input[type="radio"]:checked~span:first-of-type, input[type="checkbox"]:checked~span:first-of-type {
            color: white;
           
        }
       

        label span:first-of-type {
            position: relative;
            top: -7px;
            left: -22px;
            font-size: 15px;
/*             color: #000; */
        }
			
        li input[type="radio"]:checked, li input[type="checkbox"]:checked {
            background-color: #1FBED6;
             outline:none;
        }

        label span {
            position: relative;
            top: -7px;
        }

        ul li.option {
            list-style: none;
            border: 1px solid #ccc;
            margin-top: 10px;
            border-radius: 5px;
            line-height: 32px;
            width:95%;
        }
		.fill{
			list-style: none;
			display:inline-block;
			margin-top: 30px; 
			margin-button: 30px; 
		}

        .multiple .option:hover, .multiple li:checked {
            border: 1px solid #14bdcc;
            background-color: rgba(20, 189, 204, .1);
        }

        ul {
			margin-top:40px;
            margin-left: 50px;
            padding: 0;
        }

        .question .option {
            background-color: #fff;
            padding: 10px;
            border: 1px solid rgba(0, 0, 0, .15);
        }

        .notWritten {
/*             background-color: rgba(242, 64, 48, .1); */
/*             border: 1px solid rgba(242, 64, 48, .8); */
        }

        .wrong {
            background-color: rgba(242, 64, 48, .1);
            border: 1px solid rgba(242, 64, 48, .8);
        }

        .right {
            border: 1px solid #14bdcc;
            background-color: rgba(20, 189, 204, .1);
        }

        .selectedli {
            border: 1px solid #14bdcc;
            background-color: rgba(20, 189, 204, .1);
        }