 /*講座日期*/
        
         .div {
            background-color: pink;
            min-height: 180px;
        }
        .daydiv {
	        color: #0099cc;
            padding: 38px 20px 38px 10px;
            display: inline-block;
            width: fit-content;
            width: -webkit-fit-content;
            width: -moz-fit-content;
            text-align: center;
        }
        .date {
        	padding: 3px 10px;
            font-size: 40px;
            font-weight: 700;
            line-height: 40px;
        }
        .month {
            font-size: 20px;
            font-weight: 600;
            line-height: 40px;
        }
        .time{
	        font-size: 14px;
	        line-height: 20px;
        }
        .div .pic {
            display: inline-block;
            position: absolute;
            margin: 2px auto;
            padding: 6px;
        }
        .div .pic img {
            max-height: 160px;
            width: auto;
            margin-top: 0px;
        }
        .div .lec-txt{
        	margin-left: 270px;
        	display: inline-block;
        }
        
        .div .lec-txt .title{
        	font-size: 35px;
        	font-weight: 600;
        	color: #333;
        }
        
        .div .spkr{
        	font-size: 15px;
        	font-weight: 500;
        	color: #666;
        }
        
        .div .info{
        	font-size: 15px;
        	font-weight: 500;
        	color: #666;
        }
        
        .div .lec-txt .price{
        	background-color: #CCFFFF;
        }
        .div .more{
        	display: inline-block;
        	position: absolute;
    		top: 140px;
    		left: 750px;
        }