body {
    font-family: microsoft jhengHei;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: microsoft jhengHei;
}

p,
a,
input,
label,
textarea,
span,
ul,
li {
    font-family: microsoft jhengHei;
}


#videoView .jumbotron {
    background-color: rgba(245, 222, 179, 0.5);
    margin-top: 90px;
    padding: 32px 32px;
}

#videoView .breadcrumb {
    background-color: transparent;
}

#videoView #videoContainer {
    max-width: 720px;
    margin: 0 auto;
}

#videoView h1 {
    margin: 10px 10px 32px 10px;
}

#videoView .list-group {
    overflow: scroll;
    overflow-X: hidden;
    height: 435px;
}

#videoView .list-group h3{
    font-weight: 600;
}


#videoView .courseInfoContainer {
    background-color: rgba(162, 217, 255, 0.7);
    color: rgba(255, 151, 167, 1);
    color: #004085;
    margin-top: 20px;
    border-radius: 5px;
    padding: 8px 0;
}

#videoView .courseInfo i {
    font-size: 40px;
}

#nav-subpage .nav-link.active {
    color: #004085;
    font-size: 20px;
    font-weight: 800;
    background-color: #A2D9FF;
}

#track , #addShopCart {
	cursor: pointer;
}

#subpage {
    margin-top: 50px;
}


#subpage h3 {
	font-size: 30px;
	font-weight:500;
}

#subpage h4 {
	font-size: 22px; 
	font-weight:500;


#subpage #courseinfo ul, #subpage #courseinfo ol{
/* 	list-style: outside circle circle; */
	padding-inline-start: 40px;
}

#subpage #courseinfo ul li {
	list-style: initial;
}

#subpage #courseinfo ol li {
	list-style:decimal;
}